<div class="nav marketingNav">
  <a href="/index.html" class="brand">
    <div class="brandLogo">
      <img src="/assets/images/logo.png" alt="OnlyPaws logo">
    </div>
    <span class="brandText">OnlyPaws</span>
  </a>

  <div class="navRight marketingLinks">
    <a class="marketingTextLink" href="/html/marketing/creators.html" data-page="creators">
      <span class="navEmoji">🐾</span>
      <span>Creators</span>
    </a>

    <a class="marketingTextLink" href="/html/marketing/fans.html" data-page="fans">
      <span class="navEmoji">💜</span>
      <span>Fans</span>
    </a>
  </div>
</div>
