<!--
  OnlyPaws
  File: components/header-marketing.html
-->

<div class="nav marketingNav">
  <a href="/html/marketing/index.html" class="brand">
    <div class="brandLogo">
      <img src="/assets/images/logo.png" alt="OnlyPaws logo" />
    </div>
    <span class="brandText">OnlyPaws</span>
  </a>

  <div class="navRight marketingLinks">
    <a class="marketingTextLink" href="/html/marketing/index.html" data-page="index">Home</a>
    <a class="marketingTextLink" href="/html/marketing/creators.html" data-page="creators">Creators</a>
    <a class="marketingTextLink" href="/html/marketing/fans.html" data-page="fans">Fans</a>

    <a class="btn navLink" id="navProfile" href="/html/app/profile.html" hidden>Profile</a>
    <a class="btn navLink" id="navFanDash" href="/html/fans/fan-dash.html" hidden>Dashboard</a>
    <a class="btn navLink" id="navCreatorDash" href="/html/creators/creator-dash.html" hidden>Dashboard</a>
    <button class="btn navLink" id="navLogout" type="button" hidden>Log out</button>
  </div>
</div>
