<!--
  OnlyPaws
  File: components/header.html
-->

<div class="nav">
  <a href="/html/app/feed.html" class="brand">
    <div class="brandLogo">
      <img src="/assets/images/logo.png" alt="OnlyPaws logo" />
    </div>
    <span class="brandText">OnlyPaws</span>
  </a>

  <div class="navRight">
    <div class="pill" id="userPill">…</div>

    <a class="navBtn primary" id="navProfile" href="/html/app/profile.html" hidden>Profile</a>
    <a class="navBtn" id="navFanDash" href="/html/fans/fan-dash.html" hidden>Dashboard</a>
    <a class="navBtn" id="navCreatorDash" href="/html/creators/creator-dash.html" hidden>Dashboard</a>
    <button class="navBtn" id="navLogout" type="button" hidden>Log out</button>
  </div>
</div>
